[Unit]
Description=OBS with VNC Server (Podman)
After=podman.socket
Wants=podman.socket

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/podman-compose -f /root/docker-compose.yml up
ExecStop=/usr/bin/podman-compose -f /root/docker-compose.yml down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
